body {
    margin: 0;
    padding: 0;
    background-image: url('../fondo.jpg');
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.registro-button {
    background-color: rgb(230, 22, 230); /* Color de fondo morado */
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.registro-button:hover {
    background-color: darkpurple; /* Cambia el color de fondo al pasar el cursor */
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}

.links {
    text-align: center;
    /* Centra los elementos horizontalmente */
    margin-top: 10px;
    /* Espacio superior */
}

.olvido {
    display: block;
    /* Convierte los enlaces en elementos de bloque */
    margin-bottom: 5px;
    /* Espacio entre los enlaces */
}